@media (min-width:1200px) {}

@media (min-width:992px) and (max-width:1199.98px) {
    .banner h1 {
        font-size: 40px;
    }

    .feature-item-title {
        font-size: 12px;
    }

    .icon-overlay i {
        width: 25px;
        height: 25px;
        line-height: 25px;
    }
}

@media (min-width:768px) and (max-width:991.98px) {
    .navbar ul li a {
        font-size: 18px;
    }

    p {
        font-size: 15px;
    }

    .banner h1 {
        font-size: 36px;
    }

    .btn-logo {
        padding: 10px 20px;
    }

    #ul-T-center {
        text-align: center;
    }


    .feature-item-title {
        font-size: 12px;
    }

    .icon-overlay i {
        width: 25px;
        height: 25px;
        line-height: 25px;
    }

    .overlay {
        padding: 20px 20px;
    }

    .feature-item-title:after {
        height: 2px;
    }

}

@media (min-width:576px) and (max-width:767.98px) {
    .navbar ul li a {

        font-size: 16px;
    }

    .resize {
        font-size: 14px;
    }

    p {
        font-size: 15px;
    }

    #ul-T-center {
        text-align: center;
    }


    .banner h1 {
        font-size: 24px;
    }

    .banner p {
        font-size: 18px;
    }

    .btn-logo {
        padding: 5px 10px;
    }

    .btn {
        font-size: 0.9rem;
    }

    .sec-text {
        max-width: 550px;
    }

    .feature-item-title {
        font-size: 12px;
    }

    .icon-overlay i {
        width: 25px;
        height: 25px;
        line-height: 25px;
    }

    .overlay {
        padding: 20px 20px;
    }

    .feature-item-title:after {
        height: 2px;
    }

    .filter-button-group button {
        padding: 5px !important;
    }

    .mess-head {
        font-size: 18px;
    }

    .mess-desc {
        font-size: 12px;
    }

    .marB-50 {
        margin-bottom: 50px;
    }
}

@media (max-width:575px) {
    .navbar ul li a {
        font-size: 14px;
    }

    .topbar {
        text-align: center;
    }

    #topbar-text {
        text-align: center !important;
    }

    .resize {
        font-size: 12px;
    }

    p {
        font-size: 13px;
    }

    #ul-T-center {
        text-align: center;
    }

    .banner h1 {
        font-size: 16px;
    }

    .banner p {
        font-size: 14px;
        line-height: 1.3;
        padding: 10px 0 !important;
    }

    .btn-logo {
        padding: 5px 10px;
    }

    .btn {
        font-size: 0.7rem;
    }

    .sec-head {
        font-size: 22px;
    }

    .sec-text {
        max-width: 360px;
    }

    .get-query-btn {
        text-align: center !important;
        margin-top: 10px;
    }

    .feature-item-title {
        font-size: 12px;
    }

    .icon-overlay i {
        width: 25px;
        height: 25px;
        line-height: 25px;
    }

    .overlay {
        padding: 20px 20px;
    }

    .feature-item-title:after {
        height: 2px;
    }

    .filter-button-group button {
        padding: 5px !important;
    }

    .mess-head {
        font-size: 18px;
    }

    .mess-desc {
        font-size: 12px;
    }

    .marB-50 {
        margin-bottom: 50px;
    }

    .footer-item-title,
    .rec-post {
        text-align: center;
    }

    .marT-50 {
        margin-top: 50px;
    }

    #Tcenter {
        text-align: center;
    }

    .rec-contactby-item {
        justify-content: center;
    }
}