/** Prototype **/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: 'Merienda', cursive;
}

p {
    margin: 0;
    font-family: 'Playfair Display', serif;
}

/** Global class Start **/
.primary-color {
    color: #fab702;
}

.bgcolor-primary {
    background-color: #fab702;
}

.btn-logo {
    background-color: #fab702;
    color: #fff;
    font-weight: 600;
    padding: 15px 30px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
}

.btn-logo:hover {
    background-color: #000;
    color: #fab702;
}

.btn-logo-reverse {
    background-color: #fff;
    color: #fab702;
    font-weight: 600;
    padding: 15px 30px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

/** Topbar start **/
.topbar {
    background-color: #f5f5f5;
    color: #696969;
}

.rotate-90 i {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}

/** Navber Start **/
.navbar-nav .nav-item {
    margin-left: 35px;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: #fab702;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
}

/** Banner Start **/
.banner-wrapper {
    position: relative;
}

.banner {
    position: absolute;
    top: 50%;
    font-weight: 700;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.banner h1 {
    font-weight: 700;
    color: #666;
    font-size: 50px;
    letter-spacing: 1px;
}

.banner p {
    color: #666;
    font-size: 22px;
    letter-spacing: 1px;
    max-width: 550px;
    line-height: 1.7;
}